[user]
  name = Carsten Lamm
  email = "fq-git@protonmail.com"

[alias]
  st = status -sb
  ci = commit -v
  cinv = commit -v --no-verify
  fix = commit --fixup
  co = checkout
  l = log --oneline --graph --decorate
  ll = log --oneline --graph --decorate -20
  lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(red)%d%Creset %s %n └A: %C(blue)(%ar) %C(bold blue)%an <%ae>%Creset %n └C: %C(green)(%cr) %C(bold green)%cn <%ce>%Creset' --abbrev-commit --date=relative
  m = checkout master
  b = branch
  f = fetch -p
  ria = rebase -i --autosquash
  pom = pull --rebase origin main
  prod = pull --rebase origin develop
  clean-local-branches= "!git branch --merged main | grep -v '^* ' | grep -v ' main$' | xargs git branch -d"
  a = add -p

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[core]
    excludesfile = ~/.gitignore

[branch]
  autosetuprebase = always

[push]
  default = nothing

[commit]
  template = ~/.git_commit_tpl

[rebase]
  autostash = true

[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
