[user]
  name = Carsten Lamm
  email = "CarstenLamm@googlemail.com"

[alias]
  st = status -sb
  ci = commit -v
  fix = commit --fixup
  co = checkout
  l = log --oneline --graph --decorate
  lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(red)%d%Creset %s %n └A: %C(blue)(%ar) %C(bold blue)%an <%ae>%Creset %n └C: %C(green)(%cr) %C(bold green)%cn <%ce>%Creset' --abbrev-commit --date=relative
  m = checkout master
  b = branch
  f = fetch -p
  p = push
  pf = push --force-with-lease
  wd = diff --word-diff
  ria = rebase -i --autosquash
  clean-local-branches= "!git branch --merged master | grep -v '^* ' | grep -v ' master$' | xargs git branch -d"

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[core]
    excludesfile = ~/.gitignore

[branch]
  autosetuprebase = always

[push]
  default = nothing

[commit]
  template = ~/.git_commit_tpl
